html, body {
  overflow-x: hidden;
  padding: 0.3em;
  font-family: Sans-Serif;
  font-size: 0.8em;
}

.hidden {
  display: none;
}

form {
  text-align: center;
  display: inline-block;
}

h1 {
  color: #789922;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
}

fieldset {
  margin-top: 5px;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 1px;
}

fieldset[disabled] {
  color: #8f8f8f;
}

.button {
  text-align: center;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 0.5em;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.button:active {
  position: relative;
  top: 1px;
}

#formsp, #formurl {
  display: flex;
}

#formurl {
  border: solid;
  padding: 10px;
  border-style: groove;
  border-width: thin;
  display: flex;
}

#sneed {
  color: #d00 !important;
}

#textField {
  width: 25em;
  font-size: 1.05em;
}

hr.solid {
  border: 1px solid rgb(221, 221, 221);
}

.smallbtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.smallbtn.selected {
  font-weight: bold;
  color: #9f2f71;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12em;
  background-color: rgb(241, 241, 241);
  border: 0.1em solid rgb(87, 87, 87);
  text-align: center;
  border-radius: 0.3em;
  padding: 0.6em 0;
  position: absolute;
  right: 105%; 
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
